branches:
  - main
plugins:
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/github"
  - "@semantic-release/release-notes-generator"
  - "@semantic-release/changelog"
  - - "@google/semantic-release-replace-plugin"
    - replacements:
        - files:
            - gradle.properties
          from: version=.*
          to: version=${nextRelease.version}
          countMatches: true
          results:
            - file: gradle.properties
              hasChanged: true
              numMatches: 1
              numReplacements: 1
  - - "@semantic-release/git"
    - assets:
        - CHANGELOG.md
        - gradle.properties
